<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="Log\internal-nlog.log">

  <!-- log file directory -->
  <variable name="logDirectory" value="Log"/>

  <!-- log file name prefix -->
  <variable name="serviceName" value="ConsoleApp"/>

  <!-- the targets to write to -->
  <targets async="true">
    <!-- write logs to file  -->
    <target xsi:type="File"
            name="allfile"
            fileName="${logDirectory}/${serviceName}-${shortdate}.log"
            archiveAboveSize="50000000"
            archiveNumbering="Rolling"
            maxArchiveFiles="20"
            concurrentWrites="false"
            keepFileOpen="false"
            encoding="utf-8"
            createDirs="true"
            layout="${longdate}|${pad:padding=-5:inner=${level:uppercase=true}}|thread-${threadid}|${logger}|${message} ${exception:format=tostring}" />

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />
  </rules>
</nlog>